header.header-top#header-top
    .header__wrap-icon#header__wrap-icon
        i.fas.fa-bars
    .js-menu
        ul
            li
                a(href="#") lorem 1
                ul
                    li
                        a(href="#") lorem 2
                    li
                        a(href="#") lorem 2
                    li
                        a(href="#") lorem 2
                        ul
                            li
                                a(href="#") lorem 3
                            li
                                a(href="#") lorem 3
                                ul
                                    li 
                                        a(href="#") lorem 4
                                    li 
                                        a(href="#") lorem 4
                            li
                                a(href="#") lorem 3
                            li
                                a(href="#") lorem 3
                    li
                        a(href="#") lorem 2
                    li
                        a(href="#") lorem 2
            li
                a(href="#") lorem 1
                ul
                    li
                        a(href="#") lorem 2
                    li
                        a(href="#") lorem 2
                    li
                        a(href="#") lorem 2
                        ul
                            li
                                a(href="#") lorem 3
                                ul
                                    li 
                                        a(href="#") lorem 4
                                    li 
                                        a(href="#") lorem 4
                            li
                                a(href="#") lorem 3
                            li
                                a(href="#") lorem 3
                            li
                                a(href="#") lorem 3
                    li
                        a(href="#") lorem 2
                    li
                        a(href="#") lorem 2
            li
                a(href="#") lorem 1
            li
                a(href="#") lorem 1
                ul
                    li
                        a(href="#") lorem 2
                    li
                        a(href="#") lorem 2
                    li
                        a(href="#") lorem 2
                        ul
                            li
                                a(href="#") lorem 3
                                ul
                                    li 
                                        a(href="#") lorem 4
                                    li 
                                        a(href="#") lorem 4
                            li
                                a(href="#") lorem 3
                            li
                                a(href="#") lorem 3
                            li
                                a(href="#") lorem 3
                    li
                        a(href="#") lorem 2
                    li
                        a(href="#") lorem 2
            li
                a(href="#") lorem 1
            li
                a(href="#") lorem 1
            li
                a(href="#") lorem 1
                ul
                    li
                        a(href="#") lorem 2
                    li
                        a(href="#") lorem 2
                    li
                        a(href="#") lorem 2
                        ul
                            li
                                a(href="#") lorem 3
                                ul
                                    li 
                                        a(href="#") lorem 4
                                    li 
                                        a(href="#") lorem 4
                            li
                                a(href="#") lorem 3
                            li
                                a(href="#") lorem 3
                            li
                                a(href="#") lorem 3
                    li
                        a(href="#") lorem 2
                    li
                        a(href="#") lorem 2