doctype html
html(lang='ru-RU')
	block link
		-var selected = 'Home'
	head
		meta(charset='UTF-8')
		title
			block title
		meta(name='author' content)
		meta(name='description' content)
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='css/main.min.css')
	body
		include components/header/header.pug
		div.maincontent
			block content
		include components/footer/footer.pug 
		script(src="libs/jquery.min.js")
		script(src="libs/menu/slinky.min.js")
		script(src="libs/parallax/parallax.min.js")
		script(src="libs/slick/slick.min.js")
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA8WJUd5gaU80twRD_4JPxArGMCZwhaBaA&callback=initMap' async defer)
		script(src='js/main.min.js')
