section.work
    .container.container--work
        .work__wrap-vidoe
            video.work__video(controls="controls" poster="img/video-bg.jpg")
                source(src="img/video-bg.mp4", type="video/mp4")
        .work__wrap-text
            h2.work__title How Its Work
            p.work__descr
                | Lorem ipsum dolor sit amet, cetero temporibus ex nec. Et facilisis definiebas est.
            p.work__paragraph
                | Malorum dolores gloriatur pro at, id offendit lucilius democritum quo. Ludus ubique fastidii dolores sit et persius reformidans. Ei vide movet tibique ius, eos vivendo consetetur theophrastus cu. Eum erroribus necessitatibus ne. Eius singulis ea his, debitis nonumes at per  appareat ponderum eos.
