extends ../template.pug
block title
	| Home page
block content
	include video-block/video.pug
	include about/about.pug
	include features/features.pug
	include advantages/advantages.pug
	include testimonials/testimonials.pug
	include team/team.pug
	include faqs/faqs.pug
	include work/work.pug
	include advertising/advertising.pug
	include blog/blog.pug
	include partners/partners.pug
	include contact/contact.pug
	button.scroll-to-top
		i.fas.fa-caret-up
